<div class="row">
  <div class="span4">
    <h2>Editor's Note</h2>
     <p>
     The text that follows took many years to translate. I was never told <span class="label label-warning">where</span>
     exactly the data was found.  I was given a very large file of binary data and told to look for patterns. At first I thought it was purely
     mathematical, but it soon because obvious the data was text.  It was a story.  As far as I can tell a
     <span class="label label-important">fiction</span> story.

     </p>
     <p>
     You are welcome to read what I've translated so far.  When no translation is possible I use original data printed in hex.
     </p>
  </div>
  <div class="span4">
    <h2>Chapter 1.</h2>
     <p>
     Today was not a good day.
     </p>
     <p>
     I'm not a creature that doesn't have good days.  I've met plenty of those kinds of creatures.
     </p>
     <p>
     Today was not a good day by any creature's standards.  I started my one year timekeeping at 5D8AA8.  Actually I didn't even get transfered to 
     5D8AA8 yet, I'm still in temporary holding.  My one year timekeeping doesn't even officialy start yet.  These days do not count.
     </p>
 </div>
  <div class="span4">
    <h2>Suns Up</h2>
    <p>
      As the day began I was in my lawyer's office first thing.  We shared a meal of carbohydrates and sucrose.  He also ate some creature flesh
      but I didn't partake.  I haven't eaten flesh in years but was happy to watch him enjoy some.  It's a personal choice.
    </p>
    <p>
      <a class="btn btn-primary" href="#">Next Page</a>
    </p>
  </div>
</div>
