<div class="row">
  <div class="span4">
    <h2>Editor's Note</h2>
     <p>
     The text that follows took many years to translate. I was never told <span class="label label-warning">where</span>
     exactly the data was found.  I was given a very large file of binary data and told to look for patterns. At first I thought it was purely
     mathematical, but it soon because obvious the data was text.  It was a story.  As far as I can tell a
     <span class="label label-important">fiction</span> story.

     </p>
     <p>
     You are welcome to read what I've translated so far.  When no translation is possible I leave blanks.
     </p>
  </div>
  <div class="span4">
    <h2>Chapter 1.</h2>
     <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
 </div>
  <div class="span4">
    <h2>Heading</h2>
    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <p><a class="btn" href="#">Next Page &raquo;</a></p>
  </div>
</div>
